<div class="small-only modal fade" id="#" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="stopDetailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header hudson-secondary">
            <div class="col-xs-9" id="sm-modal-title">
              <h4 class="modal-title" id="stopDetailModalLabel"> <%= stop_details_section_header %></h4>
            </div>
            <div class="col-sx-3 no-padding" id="sm-icon-container">
            <i class="fa fa-trash-o fa-2x pull-left btn detiail-header-icon" data-stopid="1" id="delete-stop"></i>
            <i class="fa fa-pencil-square-o fa-2x pull-right btn detiail-header-icon" id="sm-edit-button" data-stopid="1" data-button="edit-stop"></i>
            </div>
      </div>
      <div class="modal-body no-padding">
        <%= render :partial => 'extra_stops/stop_details', :locals => { :el_id => "sm" } %>
      </div>
      <div class="modal-footer" id="stop-detail-modal-footer">
        <button type="button" class="btn hudson-button" id="details-modal-close"><%= close_button_text %></button>
      </div>
    </div>
  </div>
</div>