<section class="hidden-xs" id="stop-detail-section">
  <div class="col-xs-12 col-sm-6" id="second-column">
    <div class="panel panel-default" id="details-panel">
      <!-- Panel Contents -->
      <div class="panel-heading hudson-secondary" id="stop-detail-header">
            <div class="col-xs-9 no-padding">
              <h3 id="stop-detail-header-text" class=" pull-left"><%= stop_details_section_header %></h3>
            </div>
            <div class="col-xs-3 no-padding">
              <div id="stop-details-icon-container">
                <i class="fa fa-trash-o fa-2x pull-left btn detiail-header-icon" data-stopId ="id" id="delete-stop"></i>
                <i class="fa fa-pencil-square-o fa-2x pull-right btn detiail-header-icon" id="edit-button" data-stopId="edit" data-button = "edit-stop"></i>
              </div>
            </div>
      </div>
      <%= render :partial => 'extra_stops/stop_details', :locals => { :el_id => "lg" }  %>
    </div>
    <!-- End Panel-->
  </div>
  <!-- End Second Column -->
</section>