<section id="stop-list-section">
  <div class="col-xs-12 col-sm-6 inner" id="first-column">
    <div class="panel panel-default">
      <!-- Panel Contents -->
      <div class="panel-heading" id="stop-list-header">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-7 no-padding">
             <h2 id="stop-detail-header-text" class=" pull-left"><%= stop_list_section_header %></h2>
            </div>
            <div class="visible-xs col-xs-5 no-padding">
              <div id="stop-list-icon-container">
                <button type="button" class="btn hudson-button btn-sm" id="sm-save-icon"><%= save_button_text %></button>
                <i class="fa fa-times fa-2x pull-right btn detiail-header-icon" id="small-cancel-icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- List group -->
      <ul class="list-group stop-list-group sortable handles" id="list-of-stops">
        <% unless first_stop? %>
        <%= render :partial => 'extra_stops/stop', :collection => @stops, :locals => { :index => @index } %>
        <% end %>

        <!-- Add Stops Link-->
        <button type="button" class="list-group-item text-left btn-block" id="new-stop-button"
        draggable="false"  data-button = "new-stop">
        <i class="fa fa-plus-circle fa-3x pull-left"></i>
        <h4 class="list-group-item-heading"><%= add_stop_button_cap %></h4>
        <p class="list-group-item-text"><%= add_stop_button_desc %></p>
        </button>
      </ul>
    </div>
    <!-- End Panel -->
  </div>
  <!-- End First Column -->
</section>