
$base-form-color: #f5f5f5;
$tab-color: #ebebeb;
$tab-active-color: $base-form-color;
$tab-hover-color: darken( $base-form-color, 10% );
$lookup-results-well-color: darken( $base-form-color, 10% );

.list-group-item:first-child
{
    border-radius: 0 !important;
}

.close-button, .cancel-button
{
margin-right: 15px;
}

#stop-details-icon-container
{
    float: right;

    width: 70px;
    #delete-stop
    {
        margin-right: 0;
    }
    #edit-button
    {
        margin-left: 0;
    }
}


#stop-list-icon-container
{
    display: inline-block;
    float: right;

    width: 150px;
    padding-right: 15px;
}


.modal .modal-dialog
{
    margin-top: 0;
    margin-bottom: 0;
}

.full-width
{
    width: 103%;
    margin-top: -3px;
    margin-right: -3px;
    margin-left: -3px;
}

#sm-modal-title
{
    display: table !important;
    max-width: 200px;
    height: 50px;
}

#stopDetailModalLabel
{
    display: table-cell;

    vertical-align: middle;
}

#sm-save-icon
{
    float: left;

    margin-top: 10px;
}

#sm-icon-container
{
    display: inline-block;
    float: right;
}

#extra-stop-tab-content
{
    padding-top: 0;
}

#tab-container
{
    padding-right: 0;
    padding-bottom: 0;
}

#loc-well,
#addr-well
{
    display: inline-block;

    width: 100%;
    height: 100%;

    border-top: 0;
    border-radius: 0;
    background-color: $base-form-color;
    box-shadow: none;
}

#psgr-column
{
    padding-top: 19px;
}

#extra-stop-nav-tabs
{
    width: 100%;

    border-bottom: 0;
    li
    {
        width: 50%;

        background-color: $tab-color;
    }
    li > a
    {
        margin-right: 0;
    }
    li.active > a
    {
        background-color: $tab-active-color;
    }
    li.active > a:hover
    {
        background-color: $tab-active-color;
    }
    li > a:hover
    {
        background-color: $tab-hover-color;
    }
}


button.stop
{
    clear: both;

    margin-top: 0 !important;
}

.address-results
{
    clear: both;
}

#search-zip
{
    margin-top: 15px;
}

#zip-input,
#address-results
{
    width: 100%;
}

.v-spacer
{
    position: relative;
    top: -250px;
    left: -15px;

    display: block ;

    height: 250px;

    border-left: groove 3px;
}

.hr-spacer
{
    display: none;
}

.location-tab,
.address-tab
{
    border-radius: 0 !important;
}

#loc-column,
#zip-input
{
    -webkit-animation-duration: .2s;
    -webkit-animation-delay: .5s;
}

#lookup-results
{
    display: none;

    background-color: $lookup-results-well-color;
}


*[hidden]
{
    display: none;
}

.cancel-button,
button[data-dismiss]
{
    display: none;
}

.info-box-msg,
{
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 0!important;

    border-radius: 0 !important;
}


.error-field
{
    border: solid 2px #a94443 !important;
    background-color: pink !important;
}

#info-box-error::before
{
    font-family: FontAwesome;
    font-size: 20px;

    margin-right: 10px;

    content: '\f057';
}

#info-box-success::before
{
    font-family: FontAwesome;
    font-size: 20px;

    margin-right: 10px;

    content: '\f058';
}

.modal
{
    overflow: scroll;
}
.panel
{
    border-radius: 0;
}

.panel-heading
{
    min-height: 60px;
}

#address-lookup-container
{
    width: 50%;
}


section#stop-list-section
{
    height: 100vh;

    background-color: rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 24px rgba(0, 0, 0, .5);
}

#new-stop-button,
#mobile-save-button,
#mobile-cancel-button
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.63);
}

#sm-edit-button
{
    background-color: transparent;
}

.hudson-app
{
    width: 100%;
    margin: 0 !important;
}


.detiail-header-icon
{
    padding: 10px 0 !important;
}


.modal-header,
.modal-footer
{
    background-color: $base-form-color;
}

.small-only
{
    .modal-header
    {
        display: inline-block;

        width: 100%;
        min-height: 80px;
    }
}

.modal-content
{
    border-radius: 0;
}

.modal.fade .modal-dialog
{
    top: 300px;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    -webkit-transform: scale(.1);
       -moz-transform: scale(.1);
        -ms-transform: scale(.1);
            transform: scale(.1);

    opacity: 0;
}

.modal.fade.in .modal-dialog
{
    -webkit-transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
            transform: translate3d(0, -300px, 0);

    opacity: 1;
}

.no-margin
{
    margin: 0 !important;
}


.no-stops-container
{
    h1
    {
        font-size: 50px;
        font-weight: bolder;

        margin-top: 50px;
        margin-bottom: 10px;
    }
}


.padding-10x5
{
    padding: 10px 5px;
}

#first-stop-button
{
    display: block;
    overflow: hidden;

    width: 110px;
    height: 110px;
    margin: 10px auto;

    border: 2px solid $base-form-color;
    border-radius: 100%;
    background: #464646;
    box-shadow: 0 0 3px gray;
}

#first-stop-button
{
    background: #262626;
}

.form-inner
{
    display: inline-block;

    width: 100%;
    height: 90%;
}

#form-container
{
    padding: 15px;
}

.header-wrapper
{
    display: table;

    width: 100%;
    height: 100%;
    min-height: 100%;
}

.header-wrapper-inner
{
    display: table;

    width: 100%;
}

.header-el
{
    display: table-cell;

    vertical-align: middle;
}

button.stop:hover,
.active-stop
{
    box-shadow: 3px 3px 3px 1px #ddd;
}

button.stop,
button#new-stop-button,
button#mobile-save-button,
button#mobile-cancel-button
{
    margin-top: 0 !important;
}

button.stop::after
{
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 14px;

    position: absolute;
    top: 50%;
    right: 15px;

    margin-top: -7px;

    content: '\f054';

    color: #ccc;
}

#stop-detail-modal-footer
{
    border-top: none;
}

.no-padding
{
    padding: 0 0!important;
}

#stop-detail-header-text,
#stop-list-header-text
{
    font-size: 20px;
    font-weight: bolder;

    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    color: white;
}

.stop-details-container
{
    font-size: 20px;

    padding: 10px 0 0 15px;

    text-align: justify;
}

li[data-detail]
{
    display: none;
}


/* Smaller than smallest devices (mobile phones, 550px and up) */
@media (max-width: 550px)
{
    #tab-container
    {
        width: 100%;
        padding-right: 15px;
    }

    #address-lookup-container
    {
        width: 100%;
    }

    #psgr-column::before
    {
        display: none;
    }

    .hr-spacer
    {
        display: block;

        width: 100%;
        padding-top: 10px;

        border-top: groove 3px;
    }


    #psgr-column,
    #loc-column
    {
        width: 100%;
        padding-bottom: 0;
    }

    select.stop,
    input.stop,
    textarea.stop
    {
        font-size: 18px;

        height: 45px;
    }

    .modal
    {
        overflow: scroll !important;
    }

    .modal-dialog
    {
        margin: 0 !important;
    }



    .form-group
    {
        margin-bottom: 5px;
    }

    .form-container
    {
        padding: 0;
    }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px)
{
    .action-button-container
    {
        margin-top: none;

        box-shadow: none;
    }

    .full-width
    {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .address-lookup-btn
    {
        margin-top: 15px;
    }

    #add-stop-container
    {
        height: 390px;
        padding: 15px;
    }

    button#collect-stops
    {
        margin-top: 15px;
    }

    button#close-app
    {
        margin-top: 15px;
        margin-right: 15px;
    }



    button.stop
    {
        margin-top: 0;
        padding: 10px 30px;
    }

    button#new-stop-button::after
    {
        font-family: FontAwesome;
        font-size: 14px;
        line-height: 14px;

        position: absolute;
        top: 50%;
        right: 15px;

        margin-top: -7px;

        content: '\f067';

        color: #ccc;
    }

    #content-window
    {
        max-width: 1000px;
        margin: auto;
        padding-top: 10px;
    }

    #extra-stop-section,
    #first-column,
    #second-column
    {
        padding: 0 15px;
    }

    .form-container
    {
        display: none;
        padding-bottom: 0px;
        min-width: 100%;
    }

    .initial-save-button-container#save-button-container
    {
        margin: 20px 30px;
    }

    .list-group-item.stop-detail
    {
        margin-top: 0;
    }

    // button.list-group-item
    // {
    //     color: #333;
    // }

    li.stop
    {
        padding: 0;
    }

    #new-stop-button,
    #mobile-save-button,
    #mobile-cancel-button
    {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
    }

    #add-stop-container
    {
        display: none;

        padding: 15px;
    }

    
    #tab-section
    {
        padding: 15px;
    }

    #save-button-container
    {
        max-width: 100%;
        margin-right: 28px;
    }

    .div_text_shadow
    {
    }

    section#stop-list-section
    {
        height: auto;

        background-color: transparent;
    }

    #tab-section,
    #first-stop-container,
    #update-stop-container
    {
        max-width: 550px;
        height: 390px;
        margin: auto;
        padding: 10px;
    }

    #update-stop-container
    {
        display: none;

        min-width: 100%;
        padding: 15px;

        border-radius: 0;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px)
{
    #stop-details-icon-container
    {
        float: left;
    }
}
