<div class="form-group address-lookup" id="address-lookup-input-container">
  <label><%= post_code_label %></label>
  <input type="text" name="stop[zip]" id="zip-input" class="zip-search stop form-control">
  <button type="button" class="address-lookup-btn btn hudson-button pull-left" id="search-zip" data-loading-text="Searching..."><%= address_lookup_button_text %></button>
</div>
<div id="search-link-container">
  <a class="new-search address-results" id="new-search" href="#"><%= new_address_lookup_link_text %></a>
</div>