<div class="modal fade" id="addStopModal" tabindex="-1" role="dialog" aria-labelledby="addStopModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Alert Msg -->
      <!-- End Alert Msg -->
      <div class="modal-header hudson-secondary">
        <button type="button" class="close modal-close close-button" id='addStopModal-dismiss'>
        <i class="fa fa-times"></i></button>
        <h3 class="modal-title" id="addStopModalLabel"><%= first_stop? ?  first_stop_form_header : stop_form_header %></h3>
      </div>
      <div class="modal-info-box"></div>
      <div class="modal-body no-padding">
        <!--Form Start-->
        <div class="hudson-subsection" id="form-container">
          <!-- Tab panes -->
          <%= form_tag add_stop_path,
          before: 'if (!validateForm()) return false;',
          id:     "extra-stops-form", class: 'extra-stops-form', remote: true do %>
          <div class="form-inner">
            <div class="row">              <div class="col-xs-6 padding-10x5 pull-left" id="tab-container">
              <ul class="nav nav-tabs" id="extra-stop-nav-tabs" role="tablist">
                <li class="active">
                  <a href="#locations" role="tab" class="location-tab" id='loc' data-toggle="tab"><%= landmarks_tab_label %></a></li>

                  <% if display_address_lookup_tab? %>
                  <li>
                    <a href = "#enter-address" class = "address-tab" id='addr' role = "tab" data-toggle = "tab"><%= address_tab_label %></a>
                  </li>
                  <% end %>
                </ul>
              </div> </div>
              <div class="tab-content" id="extra-stop-tab-content">

                <div role="tabpanel" class="tab-pane active" id="locations">
                    <div class="col-xs-6 no-padding pull-left" id="loc-column">
                    <div class="extra-stop-well well" id="loc-well">
                      <!-- Location Selections-->
                      <%= location_select_builder(@locations) %>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="enter-address">
                  <div class="col-xs-6 no-padding pull-left" id="address-lookup-container">
                  <div class="extra-stop-well well" id="addr-well">
                    <%= render "extra_stops/forms/address_lookup" %>
                    <div id="display-address-results">
                    <div class="well well-lg" id="lookup-results"></div>
                    </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="col-xs-6 padding-10x5 pull-right" id='psgr-column'>
                <div class="hr-spacer"></div>
                <!-- Building Passenger Info Fields-->
                <%= field_builder(fields) %>
              </div>
            </div>
            <input id="stop-index" name="[stop]ExtraStop" type="hidden" value=""/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn hudson-button close-button" id="form-close" data-dismiss="modal"><%= close_button_text %></button>
          <button type="button" class="btn cancel-button"><%= close_button_text %></button>
           <button type="button" class="btn action-button" data-stopId="" id="submit-stop-button"><%= first_stop? ?  submit_first_stop_button_text : submit_stop_button_text %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>