<div id="available-address-container">
  <div class="form-group address-results">
    <label class="address-results">Available Addresses</label>
    <%= select_tag("stop[PostKey]",
    available_addresses(@addresses),
    :class => 'zip-search stop form-control address-select',
    :id => "address-results",:data => {:param => "PostKey"}) %>
  </div>
</div>