
<button type="button" role="button" class="stop list-group-item text-left btn-block individual-stop <%= "incoming-stop" if incoming_stop? %>" data-buttonId="1" data-stop="<%= stop.to_json %>"
  data-toggle="modal" data-target="#stopDetailModal">
  <i class="fa fa-bars fa-3x pull-left"></i>
  <h4 class="list-group-item-heading"><%= stop[:PickupLocation].blank? ? "No Value" : stop[:PickupLocation] %></h4>
  <p class="list-group-item-text"><%= stop[:PickupCity].blank? ? "No Value" : stop[:PickupCity] %></p>
</button>