<ul class="list-group stop-detail-list" id="<%= el_id %>-extra-stop-details-list">
  <li class="list-group-item" data-detail="PickupLocation">
    <label class="detail-element-label" data-detail="PickupLocation"></label>
  <address>
    <h4 class="detail-element" id="pickup-location" data-detail="PickupLocation"></h4>
    <h4>
  <span class="detail-element" data-detail="PickupAddr"></span>
    <span class="detail-element" data-detail="PickupCity"></span> , <span class="detail-element" data-detail="PickupState"></span><span class="detail-element" data-detail="PickupZip"></span></h4>
  </address>
  </li>
  <li class="list-group-item" data-detail="Name">
    <label class="detail-element-label" data-detail="Name"></label>
    <h4 class="list-group-item-heading detail-element" data-detail="Name"></h4>
  </li>
  <li class="list-group-item" data-detail="Passengers">
    <label class="detail-element-label" data-detail="Passengers"></label>
    <h4 class="list-group-item-heading detail-element" data-detail="Passengers"></h4>
  </li>
  <li class="list-group-item" data-detail="PickupComments">
    <label class="detail-element-label" data-detail="PickupComments"></label>
    <h4 class="list-group-item-heading detail-element" data-detail="PickupComments"></h4>
  </li>
</ul>
