<% content_for(:title) do -%>Extra <%= term.pluralize %>
<% end -%>
<% content_for(:head) do -%>
  <%= stylesheet_link_tag 'extra_stops/index', :media => 'all' %>
<% end -%>

<div class="error">
  <%= flash[:error] %>
</div>
