<% content_for(:head) do -%>
<style>
html {
color: <%= site_foreground_color %>;
background: none repeat scroll 0 0 <%= site_background_color %> !important;
}
.content_box h1.boxed {
background-color: <%= secondary_background_color %> !important;
color: <%= secondary_text_color %> !important;
border-color: <%= secondary_background_color %>;
border-color: black;
}

#extra-stop-section {
background-color: <%= site_background_color %> !important;
color: <%= subsection_text_color %> !important;
}
label {
color: <%= subsection_text_color %> !important;
}

button.stop.active-stop{
background-color: <%= primary_background_color %> !important;
color: <%= primary_text_color %> !important;
}

button.stop.active-stop .list-group-item-heading,
button.stop.active-stop .list-group-item-text{
color: white !important;
}

li.active a{
  border-top: 2px solid <%= primary_background_color %> !important;
}

#stop-list-header{
background-color: <%=secondary_background_color%> !important;
}

.action-button{
background-color: <%=primary_background_color%> !important;
color: <%=primary_text_color%> !important;
}

.action-button:hover{
background-color: <%=subsection_background_color%> !important;
color: <%=primary_text_color%> !important;
}
.close-button{
background-color: <%=subsection_background_color%> !important;
color: <%=primary_text_color%> !important;
}

.close-button:hover{
background-color: <%=primary_background_color%> !important;
color: <%=primary_text_color%> !important;
}

#sm-save-icon{
background-color: <%= primary_background_color %> !important;
color: <%= primary_text_color %> !important;
}

</style>
<% end -%>
<section class="" id="extra-stop-section">
  <param name="first-stop-indicator" value="<%= first_stop? %>" id="first-stop-indicator">
    <div class="container-fluid" id="content-window">
      <section class="stop-dashboard full-width" id="extra-stop-details">

        <%= render :partial => 'extra_stops/dashboard_sections/stop_list_section' %>
        <!--End Left Section -->
        <%= render :partial => 'extra_stops/dashboard_sections/stop_detail_section', locals: {stop: @stop}%>
        <!-- End Right Section -->

      </section>
      <div class="initial-save-button-container hidden-xs" id="save-button-container">
        <button type="button" class="btn action-button pull-right" id="collect-stops">Save <%= term.capitalize %>'s</button>
        <button type="button" class="btn close-button pull-right" id="close-app"><%= close_button_text %></button>
      </div>
    </div>
  </section>
  <!--Modal Content-->
  <%= render :partial => 'extra_stops/forms/add_stop_form' %>
  <%= render :partial => 'extra_stops/dashboard_sections/details_modal' %>
