<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!--[if lt IE 9]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">

  <%= page_title %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

  <%= yield :head %>

  <style>
    <%= Layout::Colors.new(current_site_id, current_group_id).to_css %>
  </style>
</head>
<%= content_tag :body,
                class: "hudson-app",
                data:  {
                    controller: controller_name,
                    action:     action_name,
                    site:       current_site_id,
                    term:       term.capitalize,
                    extra_stop_fields:       fields,
                    stop_form_header:       stop_form_header,
                    first_stop_form_header:       first_stop_form_header,
                    submit_first_stop_button_text:       submit_first_stop_button_text,
                    submit_stop_button_text:       submit_stop_button_text,
                    update_stop_form_header:       update_stop_form_header,
                    update_stop_button_text:       update_stop_button_text,
                    missing_location_error:       missing_location_error,
                    no_location_found_error:       no_location_found_error,
                    post_code_error:       post_code_error,
                    update_stop_success:       update_stop_success,
                    add_stop_success:       add_stop_success,
                    delete_stop_success:       delete_stop_success,
                    confirm_delete_msg:       confirm_delete_msg,
                    env:        Rails.env,
                    urls:       { 'add_stop'            => add_stop_path,
                                  'update_stop'         => update_stop_path,
                                  'send_data_to_parent' => send_data_to_parent_path,
                                  'address_lookup'      => address_lookup_path,
                                  "collect_stops"       => collect_stops_path } } do %>

  <div id="container">
   <div class="info-box"></div> 
   <%= yield %></div>
<% end %>
</html>
